@charset "UTF-8";
@import "common/var";
@import "mixins/button";
@import "mixins/mixins";
@import "mixins/utils";

@include b(button) {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: $--color-neutral;
  border: $--border-base;
  border-color: $--color-neutral;
  color: $--color-white;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .3s;
  font-weight: $--button-font-weight;
  @include utils-user-select(none);

  &+& {
    margin-left: 10px;
  }

  @include button-size($--button-padding-vertical, $--button-padding-horizontal, $--button-font-size, $--button-border-radius);

  &:hover,
  &:focus,
  &:active {
    color: $--color-white;
    border-color: $--color-neutral-focus;
    background-color: $--color-neutral-focus;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  @include when(outline) {
    background-color: $--color-transparent;
    color: $--color-base-content;
    border-color: $--color-current;

    &:hover,
    &:focus {
      background: $--color-neutral-focus;
      border-color: $--color-neutral-focus;
      color: $--color-neutral-content;
    }

    &:active {
      background: $--color-neutral-focus;
      border-color: $--color-neutral-focus;
      color: $--color-neutral-content;
      outline: none;
    }

    &.sx-button--primary {
      border-color: $--color-primary;

      &:hover,
      &:focus,
      &:active {
        @include button-variant($--color-primary-content, $--color-primary, $--color-primary-focus);
      }
    }

    &.sx-button--secondary {
      border-color: $--color-secondary;

      &:hover,
      &:focus,
      &:active {
        @include button-variant($--color-secondary-content, $--color-secondary, $--color-secondary-focus);
      }
    }

    &.sx-button--accent {
      border-color: $--color-accent;

      &:hover,
      &:focus,
      &:active {
        @include button-variant($--color-accent-content, $--color-accent, $--color-accent-focus);
      }
    }
  }

  @include when(round) {
    border-radius: 20px;
  }

  @include when(circle) {
    border-radius: 50%;
    padding: $--button-padding-vertical;
  }

  @include when(disabled) {

    &,
    &:hover,
    &:focus {
      color: $--color-base-content;
      opacity: 0.8;
      cursor: not-allowed;
      background-image: none;
      background-color: $--color-base-300;
      border-color: $--color-base-300;
    }
  }

  @include m(primary) {
    @include button-variant($--color-primary-content, $--color-primary, $--color-primary-focus);
  }

  @include m(secondary) {
    @include button-variant($--color-secondary-content, $--color-secondary, $--color-secondary-focus);
  }

  @include m(accent) {
    @include button-variant($--color-accent-content, $--color-accent, $--color-accent-focus);
  }

  @include m(ghost) {
    @include button-variant($--color-current, $--color-transparent, $--color-base-300);
  }

  @include m(link) {

    &:hover,
    &:focus,
    &:active {
      text-decoration-line: underline
    }

    @include button-variant($--color-primary, $--color-transparent, $--color-transparent);
  }

  @include m(success) {
    @include button-variant($--color-base-200, $--color-success, $--color-success);
  }

  @include m(warning) {
    @include button-variant($--color-base-200, $--color-warning, $--color-warning);
  }

  @include m(danger) {
    @include button-variant($--color-base-200, $--color-danger, $--color-danger);
  }

  @include m(info) {
    @include button-variant($--color-base-200, $--color-info, $--color-info);
  }

  @include m(medium) {
    @include button-size($--button-medium-padding-vertical, $--button-medium-padding-horizontal, $--button-medium-font-size, $--button-medium-border-radius);

    @include when(circle) {
      padding: $--button-medium-padding-vertical;
    }
  }

  @include m(small) {
    @include button-size($--button-small-padding-vertical, $--button-small-padding-horizontal, $--button-small-font-size, $--button-small-border-radius);

    @include when(circle) {
      padding: $--button-small-padding-vertical;
    }
  }

  @include m(mini) {
    @include button-size($--button-mini-padding-vertical, $--button-mini-padding-horizontal, $--button-mini-font-size, $--button-mini-border-radius);

    @include when(circle) {
      padding: $--button-mini-padding-vertical;
    }
  }
}